<html>
<head>
<title>Items</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <style>
  fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
    }

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }
  </style>
</head>
<body>
<div class="container">  
<h1>Catalog</h1>
<h4>welcome: {{session['Name']}} | <a href="/Logout">Logout</a></h4>
<hr /> 
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         <h4>Feedback: {{ message }}</h4>
      {% endfor %}
   {% endif %}
{% endwith %}    
  <form id="item" action="" method="post">  
  <fieldset class="scheduler-border">
    <legend class="scheduler-border">{{item.categorie.name}}/Edit Items - <a href="/NewItem/{{item.categori_id}}">Back to items</a></legend>
    <div class="form-group">
      <label for="itemname">Title:</label>
      <input type="text" tabindex="1" name="itemname" class="form-control" maxlength="50" value="{{item.name}}" required>
      <input type="hidden" name="item_id" value="item.item_id">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" tabindex="2" name="item_description" class="form-control" maxlength="200" value="{{item.description}}" required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    </fieldset>
  </form>
  </body>
</html>