<html>
<head>
<title>Categories</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <style>
  fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
    }

    legend.scheduler-border {
        font-size: 1.2em !important;
        font-weight: bold !important;
        text-align: left !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }
  </style>
</head>
<body>
<div class="container">  
<h1>Catalog</h1>
<h4>welcome: {{session['Name']}} | <a href="/index">Home</a> | <a href="/Logout">Logout</a></h4>
<hr />   
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         <h4>Feedback: {{ message }}</h4>
      {% endfor %}
   {% endif %}
{% endwith %}
  <form id="item" action="" method="post">  
  <fieldset class="scheduler-border">
    <legend class="scheduler-border">Categorie</legend>
    <div class="form-group">
      <label for="itemname">Title:</label>
      <input placeholder="Title" type="text" tabindex="1" name="categoriename" class="form-control" maxlength="50" required>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    </fieldset>
  </form>
  <br />
  {% if categories: %}
  <a href="CategoriesJSON" target="_blank">Json Categories</a>
  <br /><br /><br />
  {% endif %}
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col"></th><th scope="col"></th><th scope="col"></th><th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for i in categories %}
    <tr>
      <td>{{i.name}}</td> 
      <td><button type="button" class="btn btn-info" onclick="CategorieJSON('{{i.id}}')">Json Categorie</button></td>      
      <td><button type="button" class="btn btn-primary" onclick="Items('{{i.id}}')">Items</button></td>      
      <td><button type="button" class="btn btn-primary" onclick="Edit('{{i.id}}')">Edit</button></td>
      <td><button type="button" class="btn btn-danger" onclick="Delete('{{i.id}}')">Delete</button></td>
    </tr>
  {% endfor %}
  </tbody> 
</table>
</div>
</body>
</html>

<script>

function Delete(id) {
  var r = confirm("Are you sure you want to delete categorie and all related items?");
    if (r == true) {
        window.location = "/DeleteCategorie/" + id;
    } 
}

function Edit(id) {
    window.location = "/EditCateogrie/" + id;
}

function Items(id) {
    window.location = "/NewItem/" + id;
}

function CategorieJSON(id) {
    window.open("/CategorieJSON/" + id, '_blank');
}

</script>